<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/avance-reporte">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/reporte-zona" routerLinkActive="active">Reporte zona</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            OWd Delibery
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/avance-reporte">OWD Proceso Salida de Camiones</a></li>
            <li><a class="dropdown-item" routerLink="/entrega-cliente">OWD Proceso de entrega a clientes</a></li>
            <li><a class="dropdown-item" routerLink="/llegada-reporte">OWD Proceso de Llegada de unidades</a></li>
            <li><a class="dropdown-item" routerLink="/cliente-calidad">OWD Visita Clientes - Motivo Calidad</a></li>
            <li><a class="dropdown-item" routerLink="/mercado-seguridad">OWD Visita mercado por seguridad</a></li>
            <li><a class="dropdown-item" routerLink="/servicio-cliente">OWD Visita clientes - Servicio</a></li>
            <li><a class="dropdown-item" routerLink="/rechazos">OWD - Rechazos</a></li>
            <li><a class="dropdown-item" routerLink="/poc">OWD Visita clientes - Productividad en el POC</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
