<div class="container mt-5">
  <div class="row">
    <div class="col">
      <select class="form-select" (change)="selectProvider($event)">
        <option selected>Seleccionar empresa</option>
        <option *ngFor="let empresa of empresas" [value]="empresa">{{empresa}}</option>
      </select>
    </div>
    <div *ngIf="selectP" class="col">
      <select class="form-select" (change)="selectBk($event)">
        <option selected>Seleccionar bk</option>
        <option *ngFor="let bk of bks" [value]="bk">{{bk}}</option>
      </select>
    </div>
    <div *ngIf="selectP" class="col">
      <select (change)="selectMonth($event)"  class="form-select">
        <option selected>Seleccionar mes</option>
        <option *ngFor="let month of months" [value]="month" >{{month}}</option>
      </select>
    </div>
    <div class="form-row mt-3">
      <div class="table-responsive-md ">
        <table class="table">
          <thead>
              <tr>
                  <th>Preguntas</th>
                  <th>Enero</th>
                  <th>Febrero</th>
                  <th>Marzo</th>
                  <th>Abril</th>
                  <th>Mayo</th>
                  <th>Junio</th>
                  <th>Julio</th>
                  <th>Agosto</th>
                  <th>Setiembre</th>
                  <th>Octubre</th>
                  <th>Noviembre</th>
                  <th>Diciembre</th>
                  <th>Total General</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let pregunta of pruebatempora">
                  <td>
                      <p class="moretext">
                          {{pregunta.pregunta}}
                      </p>
                  </td>
                  <td>{{pregunta.data[0].porcentaje}}%</td>
                  <td>{{pregunta.data[1].porcentaje}}%</td>
                  <td>{{pregunta.data[2].porcentaje}}%</td>
                  <td>{{pregunta.data[3].porcentaje}}%</td>
                  <td>{{pregunta.data[4].porcentaje}}%</td>
                  <td>{{pregunta.data[5].porcentaje}}%</td>
                  <td>{{pregunta.data[6].porcentaje}}%</td>
                  <td>{{pregunta.data[7].porcentaje}}%</td>
                  <td>100%</td>
                  <td>100%</td>
                  <td>100%</td>
                  <td>100%</td>
              </tr>
          </tbody>
          <!-- <tfoot>
              <tr>
                  <th>Preguntas</th>
                  <th>Enero</th>
                  <th>Febrero</th>
                  <th>Marzo</th>
                  <th>Abril</th>
                  <th>Mayo</th>
                  <th>Junio</th>
                  <th>Julio</th>
                  <th>Agosto</th>
                  <th>Setiembre</th>
                  <th>Octubre</th>
                  <th>Noviembre</th>
                  <th>Diciembre</th>
                  <th>Total General</th>
              </tr>

          </tfoot> -->
      </table>
      </div>
    </div>
  </div>

    </div>
